.navbar {
  position: fixed;
  height: 100vh;
  width: 8.5rem;
  background-color: rgb(44, 39, 39);
}

.navbar-brand {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 100%; /* Pour occuper toute la largeur */
}

.custom-link {
  background-color: rgb(17, 41, 8);
  display: block;
  padding: 8px !important;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 0.3rem 0 !important;
  border: 1px solid rgb(246, 188, 188);
}

.custom-link:hover {
  background-color: #206210;
  border: 1px solid rgb(246, 188, 188);
}

.custom-link:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-link:active {
  background-color: #45494c;
  color: #c89393;
  border-color: #45494c;
}
.social-icons {
  display: flex; /* Affiche les icônes dans une ligne */
  gap: 0.6rem; /* Espacement horizontal entre les icônes */
  border: 1px solid #ccc; /* Bordure autour des icônes */
  padding: 7px; /* Espacement interne pour l'encadré */
  border-radius: 5px; /* Coins arrondis de l'encadré */
}

.social-icons a {
  text-decoration: none; /* Supprimer la décoration du lien */
  color: #333; /* Couleur du lien */
  transition: color 0.3s ease; /* Animation de transition pour la couleur au survol */
}

.social-icons a:hover {
  color: #007bff; /* Couleur du lien au survol */
}


