.navbar {
  /* background-color: rgb(36, 32, 32); */
  background-color: rgb(67, 64, 64);
}

.navbar-brand {
  display: block;
  margin-right: 0.5rem !important; /* Ajuste la marge horizontale */
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: auto; /* supprimer la largeur fixe */
}

.custom-link {
  background-color: rgb(17, 41, 8);
  display: block;
  padding: 8px !important;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: 1px solid rgb(246, 188, 188);
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.custom-link:hover {
  background-color: #206210;
  border: 1px solid rgb(246, 188, 188);
}

.custom-link:focus,
.custom-link:active {
  outline: none;
  background-color: #206210;
  border-color: #45494c;
  color: #fff;
}

.custom-link:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-link:active {
  background-color: #206210;
  color: #206210;
  border-color: #45494c;
}

.social-icons {
  display: flex;
  gap: 0.6rem;
  padding: 7px;
  border-radius: 5px;
}

.social-icons a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

@media (max-width: 992px) {
  .logo {
    display: none;
  }

  /*disparition du bouton 'connexion' en format mobile -> pas d'intérêt */
  .navbar-brand.custom-link:last-child {
    display: none;
  }

  /* Styles des boutons de navigation réduits */
  .navbar-brand.custom-link {
    font-size: 14px;
    padding: 3px 8px;
  }

  /* Aligner les boutons et les icônes des réseaux sociaux sur la même ligne */
  .navbar-collapse.show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

    /* Réduire la taille des icônes de réseaux sociaux */
    .social-icons a {
      font-size: 8px !important;
    }


}

/* Appareils mobiles avec une largeur d'écran maximale de 768px */
@media (max-width: 768px) {
  /* Masquer le logo */
  .logo {
    display: none;
  }

  /* Styles des boutons de navigation mobile */
  .navbar-brand.custom-link {
    font-size: 14px;
    padding: 8px;
  }

  /* Styles de la barre de navigation mobile déployée */
  .navbar-collapse.show {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }

  /* Styles des boutons de navigation mobile déployés */
  .navbar-collapse.show .navbar-brand.custom-link {
    color: #fff;
  }

  /* Aligner les boutons et les icônes des réseaux sociaux sur la même ligne */
  .navbar-collapse.show {
    flex-direction: row;
  }

  /* Styles des icônes de réseaux sociaux */
  .social-icons {
    flex-direction: row;
  }

  /*Réduit la taille des polices  */
  .navbar-brand.custom-link {
    font-size: 10px;
    padding: 3px 8px;
  }


  
}



